body {text-align: center;
      background-color: beige;
      color: black;
      font-size: 12pt;
      line-height: 1.4;
      margin: 0;
      font-family: "Courier New";
      min-height: 100%;
      overflow-wrap: break-word;
}

a {text-align: left; font-family: "Courier New"}
a:link { text-decoration: underline; color:black}
a:visited { text-decoration: underline; color: black; }
a:hover { text-decoration: wavy underline; color: #2562e4; }
a:active { text-decoration: wavy underline; color: #ffaaac; }
/* #ffaaac  */

img {
    max-width: 80%;
    height: auto;
}

/* p {    color: black;
	text-align: center;
	font-family: "Courier New";
	font-size: 15pt
} */

  
h1 {	text-align: center;
	font-size: 64pt;
	font-family: "Garmond";
}
h2 {	text-align: left;
	font-size: 15pt;
	font-family: "Courier New";

}
h2:before {
  content: "# ";
}
/* 
.container{
  display: flex;
  flex-wrap: wrap; */
  /* background: #98b389; */
  /* padding: 0px 50px 0px 10px; */
  /* margin: 0px 25vw 10px 25vw;
} */


/* 
#picture {
    width: 400px;
    height: auto;
} */

/* Media query to shrink smiley face to 300px when viewport is equal to or smaller than 400px */
/* @media only screen and (max-width: 400px) {
  #picture {
    width: 300px;
  }
} */

/* Media query to set smiley face's width to percentage when viewport is equal to or smaller than 300px */
/* @media only screen and (max-width: 300px) {
  #picture {
    max-width: 300px;
    width: 100%;
  }
} */

/* .hcontainer{
  display: flex;
  flex-wrap: wrap; */
  /* background: #98b389; */
  /* padding: 0px 50px 0px 10px; */
  /* margin: 0px 25vw 10px 25vw; */
/* } */

/* .media {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction:  column;
  background: #F6F3EB;
  padding: 1em;
  border-radius: 3px;
  max-width: 24em;
} */

table {
  width: 40%;
  border-collapse: collapse;
  border: 2px solid #000;
  border-width: 2px 0;
  text-align: left;
}

th,
td {
  line-height: 1.4;
  padding-right: 12px;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

th:not(:empty) {
  border-bottom: 1px solid #000;
  font-weight: 400;
}

thead:first-child th {
  text-align: center;
}

tbody tr td:last-child {
  text-align: right;
}