body {
      background-color: beige;
      color: black;
      font-size: 12pt;
      line-height: 1.4;
      margin: 0;
      font-family: "Courier New";
      min-height: 100%;
      overflow-wrap: break-word;
}

h1 {	text-align: center;
  margin: 5vw;
	/* font-size: 64pt; */
  font-size: 15vw;
  /* width: 1000px; */
	font-family: "Garmond";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  /* MOBILE */
  /* background-color: #ffaaac; */
  padding: 1vh 1vw;
  margin: 0 5vw;
}
/* IPAD */
@media only screen and (min-width: 768px){
  .container{
    background-color: transparent

  }
  img {
    width:   614.4px;
  }

  h1 {    font-size: 7vw;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1000px){
  .container{
    /* background-color: #5b99c9; */
    padding: 1vh 1vw;
    width: 800px;
    margin: auto;
  }

  h1 {font-size: 70px;
  }
}



a {text-align: left; font-family: "Courier New"}
a:link { text-decoration: underline; color:black}
a:visited { text-decoration: underline; color: black; }
a:hover { text-decoration: wavy underline; color: #2562e4; }
a:active { text-decoration: wavy underline; color: #ffaaac; }
/* #ffaaac  */

img {
  display: block;
  height: auto;
  margin: auto;
  width: 80vw;
}


h2 {	text-align: left;
	font-size: 15pt;
	font-family: "Courier New";

}
h2:before {
  content: "# ";
}

table {
  width: 40%;
  border-collapse: collapse;
  border: 2px solid #000;
  border-width: 2px 0;
  text-align: left;
}

th,
td {
  line-height: 1.4;
  padding-right: 12px;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

th:not(:empty) {
  border-bottom: 1px solid #000;
  font-weight: 400;
}

thead:first-child th {
  text-align: center;
}

tbody tr td:last-child {
  text-align: right;
}